
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



:root {
  --cor--primaria: #00215E;
  --cor--secundaria: #074173;
  --cor--cards: #03318C;
  --cor--terciaria: #ffff;

  --fonte-primaria: "Press Start 2P", Courier, monospace;
  --fonte-secundaria: "IBM Plex Mono",Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  size: 100vh;
  font-family: var(--fonte-primaria);
}


.texto_cabecalho {
  background-color: var(--cor--primaria);
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  margin: 0%;
  color: var(--cor--terciaria);
  font-size: 600;
  text-align: center;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
}


.produtos{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    padding-top: 6%;
    text-align: center;
    padding-right: 100px;
}

.produtos_titulo{
  font-size: 20px;
  padding: 0% 0% 40px 0%;
}

#produtos_itens{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5);
}

.card{
  list-style: none;
  font-size: 10px;
  background-color: var(--cor--cards);
  padding: 10px;
  color: #ffff;
  border: 4px solid;
  border-radius: 6%;
  border-color: black;
  font-family: var(--fonte-secundaria);
  font-size: 14px;
  text-align: justify;
}

.card--infos-preco{
  display: flex;
  font-weight: 800;
  padding: 8px 0;
  justify-content: space-between;
}

.item_imagem{
  width: 176px;
  height: 174px;
  border: 3px solid;
  border-radius: 5%;
  border-color: black;
}

.item_name{
  padding: 5px;
}

.item_preco{
  padding: 5%;
  font-weight: 500;
}


.formulario_adicionar{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formulario_campo{
  width: 392px;
  height: 48px;
  border: 2px solid var(--cor--secundaria);
  border-radius: 15px;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  color: var(--cor--secundaria);
}

.botao{
  margin-top: 50px;
  align-items: start;
  width: 184px;
  height: 40px;
  justify-content: space-around;
  border: 2px solid var(--cor--secundaria);
  border-radius: 10px;
  font-family: var(--fonte-secundaria);
}

#enviar{
  background-color: var(--cor--secundaria);
  color: var(--cor--terciaria);
}

#limpar{
  color: var(--cor--secundaria);
}

.rodape {
  background-color: var(--cor--primaria);
  color: var(--cor--terciaria);
  text-align: center;
  padding: 1.6% 0%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
}

.titulo_rodape{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media(max-width: 800px){
  .produtos{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0;
  }

  .produtos_estante{
    padding-top: 100px;
  }
}

@media(max-width: 400px){

  body{
    width: 100%;
  }

  .produtos_formulario{
    height: auto;

  }
}